certifi==2023.5.7
charset-normalizer==3.1.0
exceptiongroup==1.1.1
idna==3.4
importlib-metadata==6.6.0
iniconfig==2.0.0
packaging==23.1
Pillow==9.5.0
pluggy==1.0.0
PySimpleGUI==4.60.5
pytest==7.3.1
pywildcard==1.0.10
requests==2.31.0
tomli==2.0.1
typing_extensions==4.6.3
urllib3==2.0.3
zipp==3.15.0
